html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  min-height: 100vh;
}

* {
  box-sizing: border-box;
}

.frontpage-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
